:root{
    --border-color:lightgray;
    --cell-background-color:whitesmoke;
}

*{
    margin: 0px;   
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
}

.menu-cont{
    border-bottom: 0.5px solid var(--border-color);
    height: 30px;
}

.address-cont{
    height: 25px;
    display: flex;
}

.cell-cont{
    border: 0.5px solid var(--border-color);
    height: calc(100vh - 90px);
    overflow: auto;
    background-color: white;
    position: relative;
}

.sheets{
    border: 0.5px solid;
    height: 30px;
    background-color: lightcoral;
}
.row{
    display: flex;
}
.cell{
    border-right: 0.1px solid var(--border-color);
    border-bottom: 0.1px solid var(--border-color);
    min-height: 23px;
    width: 100px;
    outline: none;
}

.top-left-cell{
    border-right: 0.1px solid var(--border-color);
    border-bottom: 0.1px solid var(--border-color);
    height: 23px;
    width: 40px;
    background-color: var(--cell-background-color);
    position: absolute;
    z-index: 2;
}

.top-row{
    position: absolute;
    display: flex;
    left: 40px;
    z-index: 1;
}

.top-row-cell{
    border-bottom: 0.1px solid var(--border-color);
    border-right: 0.1px solid var(--border-color);
    height: 23px;
    width: 100px;
    background-color: var(--cell-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-col{
    background-color: var(--cell-background-color);
    position: absolute;
    left: 0px;
    top:23px;
    z-index: 1;
}

.left-col-cell{
    border-bottom: 0.1px solid var(--border-color);
    border-right: 0.1px solid var(--border-color);
    height: 23px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells{
    position: absolute;
    top: 23px;
    left: 40px;
}

#address-bar{
    width: 100px;
    text-align: center;
    font-size: 13px;
    border: white;
    border-right: 0.1px solid var(--border-color);
}

#formula-bar{
    outline: none;
    border: white;
    width: 100vw;
    padding: 5px;
    font-size: 14px;
}